[submodule "average-response"]
	path = average-response
        url = https://github.com/amtunlimited/average-response.git
[submodule "ttt-js"]
	path = ttt-js
        url = https://github.com/amtunlimited/ttt-js.git
