body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    padding: 10px;
}

@media (max-width: 400px) {
    body {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
    color: green;
}

hr {
    width: 80%;
    border: 1px solid darkgray;
}

main, footer {
    max-width: 600px;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
    /* display: grid;    
    grid-template-columns: 75% 5% 20%;
    grid-template-rows: repeat(3, auto); */
}

.title {
    margin-bottom: 0.5em;
}

.subtitle {
    color: hsl(0, 0%, 40%);;
    font-weight: normal;
}

.author {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}

/* header {
    grid-row: 1;
    grid-column: span 3;
}

main {
    grid-row: 2;
    grid-column: 1;
} 

aside {
    grid-row: 2;
    grid-column: 3;
    font-size: 0.8em;
}

footer {
    grid-row: 3;
    grid-column: span 3;

} */